<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="Tema" value="WXI Compact"/>
    <add key="Palet" value="Clearness"/>
    <add key="Kullanıcı Kodu" value="001"/>
    <add key="Kullanıcı Şifre" value="GK4gZjMXXbI097IB0qT6pCs9yqCr6AYJPa3RaN+pYzdQJvGlfauRWl5noKYVcRPCa+/RnqdduACap4nG2+8Mk3NzWvw3Doj5f54r2+qtJ9L5NqOSBRXZzeXdpjFEZ9eT"/>
    <add key="Görev Kontrol Süresi" value="10"/>
  </appSettings>
  <connectionStrings>
    <add name="SOMConnection111" connectionString="Data Source=.;Initial Catalog=Supply.Orders.Manager;User ID=Supply.Orders.Manager;Password=*Fv3871320*Fv" providerName="System.Data.SqlClient"/>
	<add name="SOMConnection" connectionString="Data Source=(local)\SQL2019;Initial Catalog=GuvenSac;User ID=sa;Password=Sekiz@88" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
